body{
    font-family: Arial, Helvetica;
    font-size: 15px;
    line-height: 1.5;
    padding: 0px;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url(/public/assets/grass.jpeg);
    background-size:cover;
    opacity:1;
    height: 100vh;
    overflow: hidden;
}

#navigationbar{
    background-color: #3b5998;
    height:55px;
    overflow: hidden;
}

#navigationbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 19px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}

#logout{
    position: absolute;
    right:30px;
    padding: 0 19px;
}

#navigationbar a:hover{
    background-color: #ddd;
    color: #000;
}

.side-menu{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-menu a{
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}
.side-menu a:hover{
    background-color: #ddd;
    color:#000;
}

.side-menu .close-btn{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 30px;
    margin-left: 50px;
}
#creditDiv{
    position: fixed;
    right: 0.6em;
    top: 62.8px;
    background-color:#4db6ac;
    opacity: 1.1;
    color: #f4f4f4;
    text-align: center;
    font-size: 25px;
    border-radius: 3px;
    /*z-index: 1;*/
    padding: 10px;
    padding-top: 7px;
    height: 2em;
}

#foss{
    color: #d32f2f;
    font-size: 30px;
    padding-bottom: 7px;
}

#mec{
    font-size:30px;
    padding-bottom: 7px;
    color: #e0e0e0;
}

#mec:hover{
    color: #000;
}
#printDiv{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 20px;

}

.container{
    background-color: white;
    position:fixed;
    top: 8em;
    left: 0;
    right: 0;
    bottom: 2em;
    /*width: 90%; */
    border-top: 2px solid #424242;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container li{
    padding:5px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    position: relative;
    border-bottom: 0.3px solid grey;
}

#history{
    position: absolute;
    left: 70px;
    top: 17px;
}

#pdf{
    width: 47px;
    height: 47px;
}

.container li:after{
    content: '';
    display: block;
    position: absolute;
    width: 4%;
    bottom: -1px;
    left: 0;
    right: 0;
    border: 2px solid white;
}

.container li:hover{
    border-bottom-color: #4db6ac;
    border-bottom-width: 1px;
}
@media(max-width:568px){
    .navbar-nav{display: none}
    #creditDiv{height: 50px;position: fixed;right: 0.6em;top: 2px;}
    .container{top:6em;}
}

@media(min-width:568px){
    .open-slide{display: none}
    
}
#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: 400px;
	margin: 20px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}
